
/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none; 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(57, 57, 57); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(50, 50, 51, 0.809); 
  }

.mainPage{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-content {
    width: 70%;
    flex: 0.8;
}




@media (max-width: 767px) {
    

    .side-bar {
        width: 100%;
        margin-bottom: 20px;
    }

    .main-content {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .side-bar {
      width: 100%;
      height: auto;
      position: static;
    }
  }