
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .s-category::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .s-category {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.s-category {
    /* flex-direction: row; */
    overflow-x: scroll;
    margin: 0;
    padding: 5px;
    
    
}

.c-box {
    min-width: 150px;
    height: 80px;
    margin: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 4px 8px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    
}